In [1]:
import pandas as pd
import os
from datetime import datetime

[https://dadescovid.cat/documentacio](https://dadescovid.cat/documentacio)

Aquestes dades provenen de diversos sistemes d'informació del Departament de Salut i del Servei Català de la Salut, detallats a https://dadescovid.cat/documentacio , i mostren, per a la data de referencia de cada registre, per sexe, per grup d'edat i per a tot Catalunya, des de l'inici de la campanya de vacunació, l'1 de gener de 2021, l'impacte del COVID-19 (nous casos, hospitalitzacions, hospitalitzacions en crítics i defuncions) segons l'estat de vacunació de les persones afectades.

Cal tenir en compte que una mateixa persona està comptada tantes vegades com esdeveniments pels quals hagi passat.

### Cal tenir en compte que una mateixa persona està comptada tantes vegades com esdeveniments pels quals hagi passat.

### Usem els casos COVID-19 confirmats per PCR/TAR per al seguiment epidemiològic
Primer de tot, els casos de COVID-19 confirmats per fer un seguiment epidemiològic són exclusivament els confirmats per PCR/TAR, ja que la PCR/TAR+ ens indica que és un cas actiu i pel seguiment epidemiològic és important la data en què s’inicia el cas.

### Hem de diferenciar el seguiment segons si la població és general o de residència
I en tercer lloc és important diferenciar dues poblacions, la general i la de residències, ja que el seu comportament epidemiològic és totalment diferent, com es va poder veure en la primera onada. Per una banda, la població general viu en la comunitat i es relaciona i mou d’una determinada manera; les persones ingressades en residències geriàtriques, viuen en comunitats molt tancades i en llocs molt tancats i la seva mobilitat és molt reduïda. Donades aquestes característiques, no es pot fer el seguiment epidemiològic conjunt de les dues poblacions i és per això que a la web presentem les dades separades.

In [2]:
# handlig dates
dateparse = lambda x: datetime.strptime(x, '%d/%m/%Y')

In [3]:
filepath = 'C:/Users/34639/wa/impacte_covid_per_estat_vacunacio/dades/impacte_covid_vacunacio.csv'

In [4]:
df = pd.read_csv(filepath,parse_dates=['DATA'], date_parser=dateparse)
df.head(5)

   SEXE   EDAT       DATA     ESDEVENIMENT        PAUTA  RECOMPTE
0  Dona  0 a 9 2022-01-12              Cas      Parcial       107
1  Dona  0 a 9 2022-01-12              Cas  No iniciada       784
2  Home  0 a 9 2022-01-12              Cas  No iniciada       865
3  Home  0 a 9 2022-01-12              Cas      Parcial       126
4  Home  0 a 9 2022-01-12  Hospitalització  No iniciada         2

In [5]:
df['ESDEVENIMENT'].value_counts()

Cas                14764
Hospitalització     8030
Crítics             3566
Defunció            2423
Name: ESDEVENIMENT, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28783 entries, 0 to 28782
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SEXE          28783 non-null  object
 1   EDAT          28783 non-null  object
 2   DATA          28783 non-null  datetime64[ns]
 3   ESDEVENIMENT  28783 non-null  object
 4   PAUTA         28783 non-null  object
 5   RECOMPTE      28783 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 1.3+ MB

In [7]:
df.shape

(28783, 6)

In [8]:
# sum homes and dones
df_unisex = df.groupby([ "DATA", "EDAT", "ESDEVENIMENT", "PAUTA"])[["RECOMPTE"]].sum()

In [9]:
df_unisex.head(25)

                                                 RECOMPTE
DATA       EDAT     ESDEVENIMENT    PAUTA
2021-01-01 0 a 9    Cas             No iniciada        57
           10 a 19  Cas             No iniciada       115
           20 a 29  Cas             No iniciada       157
                    Hospitalització No iniciada         2
           30 a 39  Cas             No iniciada       184
                    Crítics         No iniciada         1
                    Hospitalització No iniciada         7
           40 a 49  Cas             No iniciada       237
                    Crítics         No iniciada         1
                    Hospitalització No iniciada        15
           50 a 59  Cas             No iniciada       231
                    Crítics         No iniciada         3
                    Defunció        No iniciada         1
                    Hospitalització No iniciada        29
           60 a 69  Cas             No iniciada       119
                    Crítics         No iniciada         6
                    Defunció        No iniciada         7
                    Hospitalització No iniciada        29
           70 a 79  Cas             No iniciada        66
                    Crítics         No iniciada         4
                    Defunció        No iniciada         8
                    Hospitalització No iniciada        27
           80 o més Cas             No iniciada        94
                    Crítics         No iniciada         2
                    Defunció        No iniciada        33

Usarem els casos registrats a Catalunya entre el 10 d'Octubre i el 10 de desembre on la variant delta era la majoritària.

Utilitzarem el [número de persones vacunades al 10 de novembre segons grup d'edat](https://analisi.transparenciacatalunya.cat/Salut/Vacunaci-per-al-COVID-19-dosis-administrades-per-r/tp23-dey4/data) i el [número total de persones per grups d'edat de l de gener](https://www.idescat.cat/pub/?id=aec&n=253) per a normalitzar.

In [10]:
# Subset Pandas Dataframe Using Range of Dates
#df["begin_index_date" : "end_index_date]['2005-05-01':'2005-08-31']

df_unisex_targ_date = df_unisex['2021-10-10':'2021-12-10']
df_unisex_targ_date.head()

                                             RECOMPTE
DATA       EDAT    ESDEVENIMENT PAUTA
2021-10-10 0 a 9   Cas          No iniciada         6
           10 a 19 Cas          Completa            5
                                No iniciada         6
           20 a 29 Cas          Completa            3
                                No iniciada         4

In [11]:
df_unisex_targ_date = df_unisex_targ_date.reset_index()
df_unisex_targ_date.tail()

           DATA            EDAT     ESDEVENIMENT        PAUTA  RECOMPTE
2542 2021-12-10        80 o més         Defunció  No iniciada         3
2543 2021-12-10        80 o més  Hospitalització     Completa        33
2544 2021-12-10        80 o més  Hospitalització  No iniciada         5
2545 2021-12-10  No classificat              Cas     Completa         7
2546 2021-12-10  No classificat              Cas  No iniciada       126

### [Número de persones vacunades al 10 de novembre segons grup d'edat:](https://analisi.transparenciacatalunya.cat/Salut/Vacunaci-per-al-COVID-19-dosis-administrades-per-r/tp23-dey4/data)

In [12]:
path_vac = 'C:/capes_sql/vac_edats/vac_per_edats.csv'

In [13]:
df_vac = pd.read_csv(path_vac, parse_dates=['DATA'], date_parser=dateparse, index_col= ['DATA'])

In [14]:
df_vac.head(5)

,SEXE_CODI,SEXE,REGIO_CODI,REGIO,SECTOR_CODI,SECTOR,AGA_CODI,AGA,ABS_CODI,ABS,EDAT,DOSI,FABRICANT,NO_VACUNAT,RECOMPTE
DATA,,,,,,,,,,,,,,,
2021-03-24,0.0,Home,7803.0,BARCELONA CIUTAT,7851.0,BARCELONA EIXAMPLE,70.0,Barcelona Dreta,28.0,BARCELONA 2-H,75 a 79,1,Moderna / Lonza,NaN,2
2021-04-22,1.0,Dona,7802.0,METROPOLITANA NORD,7867.0,BARCELONÈS NORD I MARESME,33.0,Maresme Central,154.0,MATARÓ 3,50 a 54,2,BioNTech / Pfizer,NaN,1
2021-04-22,0.0,Home,7803.0,BARCELONA CIUTAT,7851.0,BARCELONA EIXAMPLE,70.0,Barcelona Dreta,31.0,BARCELONA 2-K,60 a 64,1,Oxford / AstraZeneca,NaN,4
2021-12-21,1.0,Dona,7802.0,METROPOLITANA NORD,7843.0,VALLÈS OCCIDENTAL OEST,66.0,Vallès Occidental Oest,363.0,SANT QUIRZE DEL VALLÈS,60 a 64,2,Moderna / Lonza,NaN,1
2021-04-23,1.0,Dona,7801.0,METROPOLITANA SUD,7831.0,BAIX LLOBREGAT NORD,65.0,Baix Llobregat Nord,360.0,MARTORELL RURAL,55 a 59,2,Moderna / Lonza,NaN,1

In [15]:
df_vac_grouped = df_vac.groupby([ "DATA",  "DOSI", "EDAT"])[["RECOMPTE"]].sum()

In [16]:
df_vac_grouped.head()

                         RECOMPTE
DATA       DOSI EDAT
2020-12-27 1    15 a 19         1
                20 a 24        21
                25 a 29        13
                30 a 34        19
                35 a 39        23

In [17]:
# Check min value of index 
print(df_vac.index.min())

# Check max value of index 
print(df_vac.index.max())

2020-12-27 00:00:00
2022-01-13 00:00:00

In [18]:
df_vac_dates = df_vac_grouped['2020-12-27':'2021-11-10'] # 10 d'Octubre

In [19]:
df_vac_dates.tail(30)

                                RECOMPTE
DATA       DOSI EDAT
2021-11-10 2    20 a 24              293
                25 a 29              299
                30 a 34              270
                35 a 39              176
                40 a 44              165
                45 a 49              105
                50 a 54               85
                55 a 59               78
                60 a 64               74
                65 a 69               44
                70 a 74              610
                75 a 79               82
                80 o més              39
                No classificat        35
           3    12 a 14                1
                15 a 19                2
                20 a 24                3
                25 a 29                9
                30 a 34               15
                35 a 39               11
                40 a 44               27
                45 a 49               26
                50 a 54               37
                55 a 59               52
                60 a 64               62
                65 a 69              126
                70 a 74             3668
                75 a 79             8294
                80 o més           12914
                No classificat        22

Els grups de població per edats donades les dades seran:

0,19

20,29

30,39

40,49

50,59

60,69

70,79

80 o més

### Per tant anem a fer les agrupacions per edat correctes pels dos datasets.

In [20]:
df_unisex_targ_date.head(6)

        DATA     EDAT     ESDEVENIMENT        PAUTA  RECOMPTE
0 2021-10-10    0 a 9              Cas  No iniciada         6
1 2021-10-10  10 a 19              Cas     Completa         5
2 2021-10-10  10 a 19              Cas  No iniciada         6
3 2021-10-10  20 a 29              Cas     Completa         3
4 2021-10-10  20 a 29              Cas  No iniciada         4
5 2021-10-10  20 a 29  Hospitalització  No iniciada         2

In [21]:
#gettting rows on a specific condition
df_unisex_targ_date.loc[df_unisex_targ_date['EDAT'] == "0 a 9"]

           DATA   EDAT     ESDEVENIMENT        PAUTA  RECOMPTE
0    2021-10-10  0 a 9              Cas  No iniciada         6
27   2021-10-11  0 a 9              Cas  No iniciada        37
28   2021-10-11  0 a 9  Hospitalització  No iniciada         1
61   2021-10-12  0 a 9              Cas  No iniciada        17
88   2021-10-13  0 a 9              Cas  No iniciada        30
...         ...    ...              ...          ...       ...
2331 2021-12-07  0 a 9  Hospitalització  No iniciada         2
2386 2021-12-08  0 a 9              Cas  No iniciada       245
2437 2021-12-09  0 a 9              Cas  No iniciada       685
2438 2021-12-09  0 a 9  Hospitalització  No iniciada         2
2494 2021-12-10  0 a 9              Cas  No iniciada       795

[93 rows x 5 columns]

In [22]:
#gettting rows on a specific condition
df_unisex_targ_date.loc[df_unisex_targ_date['EDAT']  == "10 a 19"]

           DATA     EDAT     ESDEVENIMENT        PAUTA  RECOMPTE
1    2021-10-10  10 a 19              Cas     Completa         5
2    2021-10-10  10 a 19              Cas  No iniciada         6
29   2021-10-11  10 a 19              Cas     Completa         1
30   2021-10-11  10 a 19              Cas  No iniciada        30
62   2021-10-12  10 a 19              Cas     Completa         5
...         ...      ...              ...          ...       ...
2442 2021-12-09  10 a 19  Hospitalització  No iniciada         1
2495 2021-12-10  10 a 19              Cas     Completa       183
2496 2021-12-10  10 a 19              Cas  No iniciada       424
2497 2021-12-10  10 a 19              Cas      Parcial         8
2498 2021-12-10  10 a 19  Hospitalització  No iniciada         1

[179 rows x 5 columns]

### We want to change the ranges of edat 0 a 9 and 10 to 19 to 0 a 19 and sum the equalls fields.

What is regex true in pandas?

Regular expressions (regex) are essentially text patterns that you can use to automate searching through and replacing elements within strings of text

In [23]:
df_unisex_targ_date['EDAT'] = df_unisex_targ_date['EDAT'].str.replace(r'(0 a 9|10 a 19)', '0 a 19', regex=True)

In [24]:
df_unisex_targ_date

           DATA            EDAT     ESDEVENIMENT        PAUTA  RECOMPTE
0    2021-10-10          0 a 19              Cas  No iniciada         6
1    2021-10-10          0 a 19              Cas     Completa         5
2    2021-10-10          0 a 19              Cas  No iniciada         6
3    2021-10-10         20 a 29              Cas     Completa         3
4    2021-10-10         20 a 29              Cas  No iniciada         4
...         ...             ...              ...          ...       ...
2542 2021-12-10        80 o més         Defunció  No iniciada         3
2543 2021-12-10        80 o més  Hospitalització     Completa        33
2544 2021-12-10        80 o més  Hospitalització  No iniciada         5
2545 2021-12-10  No classificat              Cas     Completa         7
2546 2021-12-10  No classificat              Cas  No iniciada       126

[2547 rows x 5 columns]

In [25]:
# grupby for summing the equals fields
df_unisex_date_age_prov = df_unisex_targ_date.groupby([ "DATA", "EDAT", "ESDEVENIMENT", "PAUTA"])[["RECOMPTE"]].sum()

In [26]:
df_unisex_date_age = df_unisex_date_age_prov.reset_index()
df_unisex_date_age

           DATA            EDAT     ESDEVENIMENT        PAUTA  RECOMPTE
0    2021-10-10          0 a 19              Cas     Completa         5
1    2021-10-10          0 a 19              Cas  No iniciada        12
2    2021-10-10         20 a 29              Cas     Completa         3
3    2021-10-10         20 a 29              Cas  No iniciada         4
4    2021-10-10         20 a 29  Hospitalització  No iniciada         2
...         ...             ...              ...          ...       ...
2473 2021-12-10        80 o més         Defunció  No iniciada         3
2474 2021-12-10        80 o més  Hospitalització     Completa        33
2475 2021-12-10        80 o més  Hospitalització  No iniciada         5
2476 2021-12-10  No classificat              Cas     Completa         7
2477 2021-12-10  No classificat              Cas  No iniciada       126

[2478 rows x 5 columns]

## Next we will procede changing the age ranges to the vaccination dataset.

In [27]:
df_vac_dates.tail(20)

                                RECOMPTE
DATA       DOSI EDAT
2021-11-10 2    70 a 74              610
                75 a 79               82
                80 o més              39
                No classificat        35
           3    12 a 14                1
                15 a 19                2
                20 a 24                3
                25 a 29                9
                30 a 34               15
                35 a 39               11
                40 a 44               27
                45 a 49               26
                50 a 54               37
                55 a 59               52
                60 a 64               62
                65 a 69              126
                70 a 74             3668
                75 a 79             8294
                80 o més           12914
                No classificat        22

In [28]:
df_vac_dates_prov = df_vac_dates.reset_index()
df_vac_dates_prov.tail(5)

            DATA  DOSI            EDAT  RECOMPTE
10544 2021-11-10     3         65 a 69       126
10545 2021-11-10     3         70 a 74      3668
10546 2021-11-10     3         75 a 79      8294
10547 2021-11-10     3        80 o més     12914
10548 2021-11-10     3  No classificat        22

In [29]:
df_vac_dates_edat_prov = df_vac_dates_prov.groupby([ "EDAT", "DOSI"])[["RECOMPTE"]].sum().reset_index()

In [30]:
df_vac_dates_edat_prov.head(6)

      EDAT  DOSI  RECOMPTE
0   0 a 11     1       381
1   0 a 11     2       152
2   0 a 11     3         1
3  12 a 14     1    217751
4  12 a 14     2    181507
5  12 a 14     3       276

In [31]:
# redoing the range of ages
df_vac_dates_edat_prov['EDAT'] = df_vac_dates_edat_prov['EDAT'].str.replace(r'(0 a 11|12 a 14|15 a 19)', '0 a 19', regex=True)
df_vac_dates_edat_prov['EDAT'] = df_vac_dates_edat_prov['EDAT'].str.replace(r'(20 a 24|25 a 29)', '20 a 29', regex=True)
df_vac_dates_edat_prov['EDAT'] = df_vac_dates_edat_prov['EDAT'].str.replace(r'(30 a 34|35 a 39)', '30 a 39', regex=True)
df_vac_dates_edat_prov['EDAT'] = df_vac_dates_edat_prov['EDAT'].str.replace(r'(40 a 44|45 a 49)', '40 a 49', regex=True)
df_vac_dates_edat_prov['EDAT'] = df_vac_dates_edat_prov['EDAT'].str.replace(r'(50 a 54|55 a 59)', '50 a 59', regex=True)
df_vac_dates_edat_prov['EDAT'] = df_vac_dates_edat_prov['EDAT'].str.replace(r'(60 a 64|65 a 69)', '60 a 69', regex=True)
df_vac_dates_edat_prov['EDAT'] = df_vac_dates_edat_prov['EDAT'].str.replace(r'(70 a 74|75 a 79)', '70 a 79', regex=True)

In [32]:
df_vac_dates_edat_prov.head(6)

     EDAT  DOSI  RECOMPTE
0  0 a 19     1       381
1  0 a 19     2       152
2  0 a 19     3         1
3  0 a 19     1    217751
4  0 a 19     2    181507
5  0 a 19     3       276

In [33]:
df_vac_dates_edat = df_vac_dates_edat_prov.groupby(["EDAT", "DOSI"])[["RECOMPTE"]].sum().reset_index()

In [34]:
df_vac_dates_edat

              EDAT  DOSI  RECOMPTE
0           0 a 19     1    571012
1           0 a 19     2    466410
2           0 a 19     3       950
3          20 a 29     1    647869
4          20 a 29     2    508082
5          20 a 29     3      1876
6          30 a 39     1    803139
7          30 a 39     2    666998
8          30 a 39     3      3474
9          40 a 49     1   1152651
10         40 a 49     2    921497
11         40 a 49     3      8315
12         50 a 59     1   1032054
13         50 a 59     2    906191
14         50 a 59     3     12019
15         60 a 69     1    801428
16         60 a 69     2    719363
17         60 a 69     3     14284
18         70 a 79     1    621514
19         70 a 79     2    582150
20         70 a 79     3     88260
21        80 o més     1    444459
22        80 o més     2    427070
23        80 o més     3    163011
24  No classificat     1     39121
25  No classificat     2     25365
26  No classificat     3       271

### Per a poder normalitzar només falta la població total:

In [35]:
path_edats = 'C:/Users/34639/wa/impacte_covid_per_estat_vacunacio/dades/edats.csv'

In [36]:
df_edat_prov =  pd.read_csv(path_edats, thousands='.')

In [37]:
df_edat_prov

          Unnamed: 0   Homes   Dones   Total
0      De 0 a 4 anys  169716  161313  331029
1      De 5 a 9 anys  202834  190777  393611
2    De 10 a 14 anys  224622   21002  434642
3    De 15 a 19 anys  214844  197232  412076
4    De 20 a 24 anys  210054  194782  404836
5    De 25 a 29 anys  222311  215356  437667
6    De 30 a 34 anys  231914  233617  465531
7    De 35 a 39 anys  260651  265245  525896
8    De 40 a 44 anys  325347  320002  645349
9    De 45 a 49 anys  330936  319863  650799
10   De 50 a 54 anys  293287  289217  582504
11   De 55 a 59 anys  256612  265559  522171
12   De 60 a 64 anys  220411  239537  459948
13   De 65 a 69 anys  183182  207007  390189
14   De 70 a 74 anys  160745  191384  352129
15   De 75 a 79 anys  123376   15658  279956
16   De 80 a 84 anys   82981  118889  201870
17   De 85 a 89 anys   56643   99623  156266
18   De 90 a 94 anys   21755   50558   72313
19  De 95 anys i més    4894   16082   20976

In [38]:
# rename col
df_edat_prov.rename(columns={'Unnamed: 0': 'EDAT'}, inplace=True)

In [39]:
df_edat_prov['EDAT'] = df_edat_prov['EDAT'].str.replace(r'(De 0 a 4 anys|De 5 a 9 anys|De 10 a 14 anys|De 15 a 19 anys)', '0 a 19', regex=True)
df_edat_prov['EDAT'] = df_edat_prov['EDAT'].str.replace(r'(De 20 a 24 anys|De 25 a 29 anys)', '20 a 29', regex=True)
df_edat_prov['EDAT'] = df_edat_prov['EDAT'].str.replace(r'(De 30 a 34 anys|De 35 a 39 anys)', '30 a 39', regex=True)
df_edat_prov['EDAT'] = df_edat_prov['EDAT'].str.replace(r'(De 40 a 44 anys|De 45 a 49 anys)', '40 a 49', regex=True)
df_edat_prov['EDAT'] = df_edat_prov['EDAT'].str.replace(r'(De 50 a 54 anys|De 55 a 59 anys)', '50 a 59', regex=True)
df_edat_prov['EDAT'] = df_edat_prov['EDAT'].str.replace(r'(De 60 a 64 anys|De 65 a 69 anys)', '60 a 69', regex=True)
df_edat_prov['EDAT'] = df_edat_prov['EDAT'].str.replace(r'(De 70 a 74 anys|De 75 a 79 anys)', '70 a 79', regex=True)
df_edat_prov['EDAT'] = df_edat_prov['EDAT'].str.replace(r'(De 80 a 84 anys|De 85 a 89 anys|De 90 a 94 anys|De 95 anys i més)', '80 o més', regex=True)

In [40]:
df_edat_prov

        EDAT   Homes   Dones   Total
0     0 a 19  169716  161313  331029
1     0 a 19  202834  190777  393611
2     0 a 19  224622   21002  434642
3     0 a 19  214844  197232  412076
4    20 a 29  210054  194782  404836
5    20 a 29  222311  215356  437667
6    30 a 39  231914  233617  465531
7    30 a 39  260651  265245  525896
8    40 a 49  325347  320002  645349
9    40 a 49  330936  319863  650799
10   50 a 59  293287  289217  582504
11   50 a 59  256612  265559  522171
12   60 a 69  220411  239537  459948
13   60 a 69  183182  207007  390189
14   70 a 79  160745  191384  352129
15   70 a 79  123376   15658  279956
16  80 o més   82981  118889  201870
17  80 o més   56643   99623  156266
18  80 o més   21755   50558   72313
19  80 o més    4894   16082   20976

In [41]:
df_edat = df_edat_prov.groupby(["EDAT"])[["Total"]].sum().reset_index()

In [42]:
df_edat

       EDAT    Total
0    0 a 19  1571358
1   20 a 29   842503
2   30 a 39   991427
3   40 a 49  1296148
4   50 a 59  1104675
5   60 a 69   850137
6   70 a 79   632085
7  80 o més   451425

Arribats aquí ja tenim els tres datasets amb el rang d'edats corresponent.

Anem a calcular els percentatges de població vacunada per cada rang d'edats al 10 de Novembre.

In [43]:
df_vac_dates_edat.head()

      EDAT  DOSI  RECOMPTE
0   0 a 19     1    571012
1   0 a 19     2    466410
2   0 a 19     3       950
3  20 a 29     1    647869
4  20 a 29     2    508082

In [44]:
df_vac_dates_edat_m = pd.merge(df_vac_dates_edat, df_edat, how='left') # manté tots els registres del df de l'esquerra

In [45]:
df_vac_dates_edat_m.head()
# Total = pobl en el rang d'edat

      EDAT  DOSI  RECOMPTE      Total
0   0 a 19     1    571012  1571358.0
1   0 a 19     2    466410  1571358.0
2   0 a 19     3       950  1571358.0
3  20 a 29     1    647869   842503.0
4  20 a 29     2    508082   842503.0

In [46]:
df_vac_dates_edat_m['PERCENT'] = df_vac_dates_edat_m['RECOMPTE']/df_vac_dates_edat_m['Total']*100

In [47]:
df_vac_dates_edat_m.head()

      EDAT  DOSI  RECOMPTE      Total    PERCENT
0   0 a 19     1    571012  1571358.0  36.338759
1   0 a 19     2    466410  1571358.0  29.681969
2   0 a 19     3       950  1571358.0   0.060457
3  20 a 29     1    647869   842503.0  76.898124
4  20 a 29     2    508082   842503.0  60.306254

In [48]:
df_unisex_date_age

           DATA            EDAT     ESDEVENIMENT        PAUTA  RECOMPTE
0    2021-10-10          0 a 19              Cas     Completa         5
1    2021-10-10          0 a 19              Cas  No iniciada        12
2    2021-10-10         20 a 29              Cas     Completa         3
3    2021-10-10         20 a 29              Cas  No iniciada         4
4    2021-10-10         20 a 29  Hospitalització  No iniciada         2
...         ...             ...              ...          ...       ...
2473 2021-12-10        80 o més         Defunció  No iniciada         3
2474 2021-12-10        80 o més  Hospitalització     Completa        33
2475 2021-12-10        80 o més  Hospitalització  No iniciada         5
2476 2021-12-10  No classificat              Cas     Completa         7
2477 2021-12-10  No classificat              Cas  No iniciada       126

[2478 rows x 5 columns]

In [49]:
df_prova_casos = df_unisex_date_age.groupby(["EDAT", "ESDEVENIMENT", "PAUTA"])[["RECOMPTE"]].sum().reset_index()

In [50]:
df_prova_casos.head()

     EDAT ESDEVENIMENT        PAUTA  RECOMPTE
0  0 a 19          Cas     Completa      1912
1  0 a 19          Cas  No iniciada     16306
2  0 a 19          Cas      Parcial        83
3  0 a 19      Crítics  No iniciada         5
4  0 a 19     Defunció  No iniciada         1

No es tindra en compte l'afectació de la vacunació parcial ni terceres vacunes només la pauta completa de dues vacunes indenendentment del moment de ser administrades.

In [51]:
df_prova_casos_compl = df_prova_casos[df_prova_casos.PAUTA != 'Parcial']

In [52]:
df_prova_casos_compl.head(5)

     EDAT     ESDEVENIMENT        PAUTA  RECOMPTE
0  0 a 19              Cas     Completa      1912
1  0 a 19              Cas  No iniciada     16306
3  0 a 19          Crítics  No iniciada         5
4  0 a 19         Defunció  No iniciada         1
5  0 a 19  Hospitalització     Completa         4

In [53]:
df_vac_dates_edat_m.head(10)

      EDAT  DOSI  RECOMPTE      Total    PERCENT
0   0 a 19     1    571012  1571358.0  36.338759
1   0 a 19     2    466410  1571358.0  29.681969
2   0 a 19     3       950  1571358.0   0.060457
3  20 a 29     1    647869   842503.0  76.898124
4  20 a 29     2    508082   842503.0  60.306254
5  20 a 29     3      1876   842503.0   0.222670
6  30 a 39     1    803139   991427.0  81.008385
7  30 a 39     2    666998   991427.0  67.276562
8  30 a 39     3      3474   991427.0   0.350404
9  40 a 49     1   1152651  1296148.0  88.928965

In [54]:
df_vac_dates_edat__comp = df_vac_dates_edat_m[df_vac_dates_edat_m.DOSI == 2]

In [55]:
df_vac_dates_edat__comp

              EDAT  DOSI  RECOMPTE      Total    PERCENT
1           0 a 19     2    466410  1571358.0  29.681969
4          20 a 29     2    508082   842503.0  60.306254
7          30 a 39     2    666998   991427.0  67.276562
10         40 a 49     2    921497  1296148.0  71.095045
13         50 a 59     2    906191  1104675.0  82.032362
16         60 a 69     2    719363   850137.0  84.617303
19         70 a 79     2    582150   632085.0  92.099955
22        80 o més     2    427070   451425.0  94.604862
25  No classificat     2     25365        NaN        NaN

### 1. Com afecta la vacunació per a la prevenció de contagis?
### 2. Com afecta la vacunació per a la prevenció d'hospitalitzacions?
### 3. Com afecta la vacunació per a la prevenció d'ingressos a les UCIS?
### 4. Com afecta la vacunació per a la prevenció de defuncions?

## 1. Com afecta la vacunació per a la prevenció de contagis?

In [56]:
df_prova_casos_compl.head()

     EDAT     ESDEVENIMENT        PAUTA  RECOMPTE
0  0 a 19              Cas     Completa      1912
1  0 a 19              Cas  No iniciada     16306
3  0 a 19          Crítics  No iniciada         5
4  0 a 19         Defunció  No iniciada         1
5  0 a 19  Hospitalització     Completa         4

In [57]:
# we choose only the number of cases from EDEVENIMENT
df_prova_casos_compl_casos = df_prova_casos_compl[df_prova_casos_compl.ESDEVENIMENT == 'Cas']

In [58]:
df_prova_casos_compl_casos

              EDAT ESDEVENIMENT        PAUTA  RECOMPTE
0           0 a 19          Cas     Completa      1912
1           0 a 19          Cas  No iniciada     16306
7          20 a 29          Cas     Completa      3976
8          20 a 29          Cas  No iniciada      1911
15         30 a 39          Cas     Completa      7074
16         30 a 39          Cas  No iniciada      2683
22         40 a 49          Cas     Completa     11866
23         40 a 49          Cas  No iniciada      2505
33         50 a 59          Cas     Completa      7381
34         50 a 59          Cas  No iniciada      1314
43         60 a 69          Cas     Completa      6731
44         60 a 69          Cas  No iniciada       802
54         70 a 79          Cas     Completa      3823
55         70 a 79          Cas  No iniciada       293
66        80 o més          Cas     Completa      2245
67        80 o més          Cas  No iniciada       192
77  No classificat          Cas     Completa       118
78  No classificat          Cas  No iniciada      1780

In [59]:
df_vac_dates_edat__comp

              EDAT  DOSI  RECOMPTE      Total    PERCENT
1           0 a 19     2    466410  1571358.0  29.681969
4          20 a 29     2    508082   842503.0  60.306254
7          30 a 39     2    666998   991427.0  67.276562
10         40 a 49     2    921497  1296148.0  71.095045
13         50 a 59     2    906191  1104675.0  82.032362
16         60 a 69     2    719363   850137.0  84.617303
19         70 a 79     2    582150   632085.0  92.099955
22        80 o més     2    427070   451425.0  94.604862
25  No classificat     2     25365        NaN        NaN

Anem a normalitzar-ho:

In [60]:
df_prova_casos_norm = pd.merge(df_prova_casos_compl_casos, df_vac_dates_edat__comp[['EDAT', 'PERCENT', 'Total']], how='left') # manté tots els registres del df de l'esquerra

In [61]:
df_prova_casos_norm

              EDAT ESDEVENIMENT        PAUTA  RECOMPTE    PERCENT      Total
0           0 a 19          Cas     Completa      1912  29.681969  1571358.0
1           0 a 19          Cas  No iniciada     16306  29.681969  1571358.0
2          20 a 29          Cas     Completa      3976  60.306254   842503.0
3          20 a 29          Cas  No iniciada      1911  60.306254   842503.0
4          30 a 39          Cas     Completa      7074  67.276562   991427.0
5          30 a 39          Cas  No iniciada      2683  67.276562   991427.0
6          40 a 49          Cas     Completa     11866  71.095045  1296148.0
7          40 a 49          Cas  No iniciada      2505  71.095045  1296148.0
8          50 a 59          Cas     Completa      7381  82.032362  1104675.0
9          50 a 59          Cas  No iniciada      1314  82.032362  1104675.0
10         60 a 69          Cas     Completa      6731  84.617303   850137.0
11         60 a 69          Cas  No iniciada       802  84.617303   850137.0
12         70 a 79          Cas     Completa      3823  92.099955   632085.0
13         70 a 79          Cas  No iniciada       293  92.099955   632085.0
14        80 o més          Cas     Completa      2245  94.604862   451425.0
15        80 o més          Cas  No iniciada       192  94.604862   451425.0
16  No classificat          Cas     Completa       118        NaN        NaN
17  No classificat          Cas  No iniciada      1780        NaN        NaN

Percentatge de vacunats per grup d'edat.

In [62]:
# % * -1 + 100 = % no vac
df_prova_casos_norm.loc[df_prova_casos_norm.PAUTA == 'No iniciada', "PERCENT"] = df_prova_casos_norm['PERCENT']*-1+100

In [63]:
df_prova_casos_norm

              EDAT ESDEVENIMENT        PAUTA  RECOMPTE    PERCENT      Total
0           0 a 19          Cas     Completa      1912  29.681969  1571358.0
1           0 a 19          Cas  No iniciada     16306  70.318031  1571358.0
2          20 a 29          Cas     Completa      3976  60.306254   842503.0
3          20 a 29          Cas  No iniciada      1911  39.693746   842503.0
4          30 a 39          Cas     Completa      7074  67.276562   991427.0
5          30 a 39          Cas  No iniciada      2683  32.723438   991427.0
6          40 a 49          Cas     Completa     11866  71.095045  1296148.0
7          40 a 49          Cas  No iniciada      2505  28.904955  1296148.0
8          50 a 59          Cas     Completa      7381  82.032362  1104675.0
9          50 a 59          Cas  No iniciada      1314  17.967638  1104675.0
10         60 a 69          Cas     Completa      6731  84.617303   850137.0
11         60 a 69          Cas  No iniciada       802  15.382697   850137.0
12         70 a 79          Cas     Completa      3823  92.099955   632085.0
13         70 a 79          Cas  No iniciada       293   7.900045   632085.0
14        80 o més          Cas     Completa      2245  94.604862   451425.0
15        80 o més          Cas  No iniciada       192   5.395138   451425.0
16  No classificat          Cas     Completa       118        NaN        NaN
17  No classificat          Cas  No iniciada      1780        NaN        NaN

In [64]:
df_prova_casos_norm['TOTAL_GRUP'] = df_prova_casos_norm['Total']*(df_prova_casos_norm['PERCENT']/100)

In [65]:
df_prova_casos_norm

,EDAT,ESDEVENIMENT,PAUTA,RECOMPTE,PERCENT,Total,TOTAL_GRUP
0,0 a 19,Cas,Completa,1912,29.681969,1571358.0,466410.0
1,0 a 19,Cas,No iniciada,16306,70.318031,1571358.0,1104948.0
2,20 a 29,Cas,Completa,3976,60.306254,842503.0,508082.0
3,20 a 29,Cas,No iniciada,1911,39.693746,842503.0,334421.0
4,30 a 39,Cas,Completa,7074,67.276562,991427.0,666998.0
5,30 a 39,Cas,No iniciada,2683,32.723438,991427.0,324429.0
6,40 a 49,Cas,Completa,11866,71.095045,1296148.0,921497.0
7,40 a 49,Cas,No iniciada,2505,28.904955,1296148.0,374651.0
8,50 a 59,Cas,Completa,7381,82.032362,1104675.0,906191.0
9,50 a 59,Cas,No iniciada,1314,17.967638,1104675.0,198484.0
10,60 a 69,Cas,Completa,6731,84.617303,850137.0,719363.0
11,60 a 69,Cas,No iniciada,802,15.382697,850137.0,130774.0
12,70 a 79,Cas,Completa,3823,92.099955,632085.0,582150.0
13,70 a 79,Cas,No iniciada,293,7.900045,632085.0,49935.0
14,80 o més,Cas,Completa,2245,94.604862,451425.0,427070.0
15,80 o més,Cas,No iniciada,192,5.395138,451425.0,24355.0
16,No classificat,Cas,Completa,118,NaN,NaN,NaN
17,No classificat,Cas,No iniciada,1780,NaN,NaN,NaN

In [66]:
df_prova_casos_norm["RISC"] = df_prova_casos_norm["RECOMPTE"]/df_prova_casos_norm["TOTAL_GRUP"]

In [67]:
df_prova_casos_norm

,EDAT,ESDEVENIMENT,PAUTA,RECOMPTE,PERCENT,Total,TOTAL_GRUP,RISC
0,0 a 19,Cas,Completa,1912,29.681969,1571358.0,466410.0,0.004099
1,0 a 19,Cas,No iniciada,16306,70.318031,1571358.0,1104948.0,0.014757
2,20 a 29,Cas,Completa,3976,60.306254,842503.0,508082.0,0.007826
3,20 a 29,Cas,No iniciada,1911,39.693746,842503.0,334421.0,0.005714
4,30 a 39,Cas,Completa,7074,67.276562,991427.0,666998.0,0.010606
5,30 a 39,Cas,No iniciada,2683,32.723438,991427.0,324429.0,0.008270
6,40 a 49,Cas,Completa,11866,71.095045,1296148.0,921497.0,0.012877
7,40 a 49,Cas,No iniciada,2505,28.904955,1296148.0,374651.0,0.006686
8,50 a 59,Cas,Completa,7381,82.032362,1104675.0,906191.0,0.008145
9,50 a 59,Cas,No iniciada,1314,17.967638,1104675.0,198484.0,0.006620
10,60 a 69,Cas,Completa,6731,84.617303,850137.0,719363.0,0.009357
11,60 a 69,Cas,No iniciada,802,15.382697,850137.0,130774.0,0.006133
12,70 a 79,Cas,Completa,3823,92.099955,632085.0,582150.0,0.006567
13,70 a 79,Cas,No iniciada,293,7.900045,632085.0,49935.0,0.005868
14,80 o més,Cas,Completa,2245,94.604862,451425.0,427070.0,0.005257
15,80 o més,Cas,No iniciada,192,5.395138,451425.0,24355.0,0.007883
16,No classificat,Cas,Completa,118,NaN,NaN,NaN,NaN
17,No classificat,Cas,No iniciada,1780,NaN,NaN,NaN,NaN

In [74]:
# select pair rows
df_prova_efect_completa = df_prova_casos_norm.iloc[::2]
df_prova_efect_completa

,EDAT,ESDEVENIMENT,PAUTA,RECOMPTE,PERCENT,Total,TOTAL_GRUP,RISC
0,0 a 19,Cas,Completa,1912,29.681969,1571358.0,466410.0,0.004099
2,20 a 29,Cas,Completa,3976,60.306254,842503.0,508082.0,0.007826
4,30 a 39,Cas,Completa,7074,67.276562,991427.0,666998.0,0.010606
6,40 a 49,Cas,Completa,11866,71.095045,1296148.0,921497.0,0.012877
8,50 a 59,Cas,Completa,7381,82.032362,1104675.0,906191.0,0.008145
10,60 a 69,Cas,Completa,6731,84.617303,850137.0,719363.0,0.009357
12,70 a 79,Cas,Completa,3823,92.099955,632085.0,582150.0,0.006567
14,80 o més,Cas,Completa,2245,94.604862,451425.0,427070.0,0.005257
16,No classificat,Cas,Completa,118,NaN,NaN,NaN,NaN

In [76]:
# select odd rows
df_prova_efect_no_vac = df_prova_casos_norm.iloc[1:-2:2] # odd rows
df_prova_efect_no_vac

,EDAT,ESDEVENIMENT,PAUTA,RECOMPTE,PERCENT,Total,TOTAL_GRUP,RISC
1,0 a 19,Cas,No iniciada,16306,70.318031,1571358.0,1104948.0,0.014757
3,20 a 29,Cas,No iniciada,1911,39.693746,842503.0,334421.0,0.005714
5,30 a 39,Cas,No iniciada,2683,32.723438,991427.0,324429.0,0.008270
7,40 a 49,Cas,No iniciada,2505,28.904955,1296148.0,374651.0,0.006686
9,50 a 59,Cas,No iniciada,1314,17.967638,1104675.0,198484.0,0.006620
11,60 a 69,Cas,No iniciada,802,15.382697,850137.0,130774.0,0.006133
13,70 a 79,Cas,No iniciada,293,7.900045,632085.0,49935.0,0.005868
15,80 o més,Cas,No iniciada,192,5.395138,451425.0,24355.0,0.007883

In [81]:
# delete non necessary fields 
df_calc_ef_completa = df_prova_efect_completa.drop(columns=['ESDEVENIMENT', 'PAUTA', 'RECOMPTE', 'PERCENT', 'Total', 'TOTAL_GRUP'])
df_calc_ef_completa

              EDAT      RISC
0           0 a 19  0.004099
2          20 a 29  0.007826
4          30 a 39  0.010606
6          40 a 49  0.012877
8          50 a 59  0.008145
10         60 a 69  0.009357
12         70 a 79  0.006567
14        80 o més  0.005257
16  No classificat       NaN

In [82]:
df_calc_ef_no_vac = df_prova_efect_no_vac.drop(columns=['ESDEVENIMENT', 'PAUTA', 'RECOMPTE', 'PERCENT', 'Total', 'TOTAL_GRUP'])
df_calc_ef_no_vac

        EDAT      RISC
1     0 a 19  0.014757
3    20 a 29  0.005714
5    30 a 39  0.008270
7    40 a 49  0.006686
9    50 a 59  0.006620
11   60 a 69  0.006133
13   70 a 79  0.005868
15  80 o més  0.007883