In [14]:
import pandas as pd
import os
from datetime import datetime

[https://dadescovid.cat/documentacio](https://dadescovid.cat/documentacio)

Aquestes dades provenen de diversos sistemes d'informació del Departament de Salut i del Servei Català de la Salut, detallats a https://dadescovid.cat/documentacio , i mostren, per a la data de referencia de cada registre, per sexe, per grup d'edat i per a tot Catalunya, des de l'inici de la campanya de vacunació, l'1 de gener de 2021, l'impacte del COVID-19 (nous casos, hospitalitzacions, hospitalitzacions en crítics i defuncions) segons l'estat de vacunació de les persones afectades.

Cal tenir en compte que una mateixa persona està comptada tantes vegades com esdeveniments pels quals hagi passat.

### Cal tenir en compte que una mateixa persona està comptada tantes vegades com esdeveniments pels quals hagi passat.

### Usem els casos COVID-19 confirmats per PCR/TAR per al seguiment epidemiològic
Primer de tot, els casos de COVID-19 confirmats per fer un seguiment epidemiològic són exclusivament els confirmats per PCR/TAR, ja que la PCR/TAR+ ens indica que és un cas actiu i pel seguiment epidemiològic és important la data en què s’inicia el cas.

### Hem de diferenciar el seguiment segons si la població és general o de residència
I en tercer lloc és important diferenciar dues poblacions, la general i la de residències, ja que el seu comportament epidemiològic és totalment diferent, com es va poder veure en la primera onada. Per una banda, la població general viu en la comunitat i es relaciona i mou d’una determinada manera; les persones ingressades en residències geriàtriques, viuen en comunitats molt tancades i en llocs molt tancats i la seva mobilitat és molt reduïda. Donades aquestes característiques, no es pot fer el seguiment epidemiològic conjunt de les dues poblacions i és per això que a la web presentem les dades separades.

In [43]:
# handlig dates
dateparse = lambda x: datetime.strptime(x, '%d/%m/%Y')

In [54]:
filepath = 'C:/Users/34639/wa/impacte_covid_per_estat_vacunacio/dades/impacte_covid_vacunacio.csv'

In [67]:
df = pd.read_csv(filepath,parse_dates=['DATA'], date_parser=dateparse)
df.head(5)

   SEXE   EDAT       DATA     ESDEVENIMENT        PAUTA  RECOMPTE
0  Dona  0 a 9 2022-01-12              Cas      Parcial       107
1  Dona  0 a 9 2022-01-12              Cas  No iniciada       784
2  Home  0 a 9 2022-01-12              Cas  No iniciada       865
3  Home  0 a 9 2022-01-12              Cas      Parcial       126
4  Home  0 a 9 2022-01-12  Hospitalització  No iniciada         2

In [68]:
df['ESDEVENIMENT'].value_counts()

Cas                14764
Hospitalització     8030
Crítics             3566
Defunció            2423
Name: ESDEVENIMENT, dtype: int64

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28783 entries, 0 to 28782
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SEXE          28783 non-null  object
 1   EDAT          28783 non-null  object
 2   DATA          28783 non-null  datetime64[ns]
 3   ESDEVENIMENT  28783 non-null  object
 4   PAUTA         28783 non-null  object
 5   RECOMPTE      28783 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 1.3+ MB

In [70]:
df.shape

(28783, 6)

In [71]:
# sum homes and dones
df_unisex = df.groupby([ "DATA", "EDAT", "ESDEVENIMENT", "PAUTA"])[["RECOMPTE"]].sum()

In [72]:
df_unisex.head(20)

                                                RECOMPTE
DATA       EDAT    ESDEVENIMENT    PAUTA
2021-01-01 0 a 9   Cas             No iniciada        57
           10 a 19 Cas             No iniciada       115
           20 a 29 Cas             No iniciada       157
                   Hospitalització No iniciada         2
           30 a 39 Cas             No iniciada       184
                   Crítics         No iniciada         1
                   Hospitalització No iniciada         7
           40 a 49 Cas             No iniciada       237
                   Crítics         No iniciada         1
                   Hospitalització No iniciada        15
           50 a 59 Cas             No iniciada       231
                   Crítics         No iniciada         3
                   Defunció        No iniciada         1
                   Hospitalització No iniciada        29
           60 a 69 Cas             No iniciada       119
                   Crítics         No iniciada         6
                   Defunció        No iniciada         7
                   Hospitalització No iniciada        29
           70 a 79 Cas             No iniciada        66
                   Crítics         No iniciada         4

In [73]:
df_unisex.shape

(17543, 1)

In [74]:
df_unisex = df_unisex.reset_index()
df_unisex.tail()

            DATA            EDAT     ESDEVENIMENT        PAUTA  RECOMPTE
17538 2022-01-12        80 o més  Hospitalització      Parcial         1
17539 2022-01-12  No classificat              Cas     Completa        28
17540 2022-01-12  No classificat              Cas  No iniciada       193
17541 2022-01-12  No classificat              Cas      Parcial        10
17542 2022-01-12  No classificat  Hospitalització  No iniciada         2

Usarem els casos registrats a Catalunya entre el 10 d'Octubre i el 10 de desembre on la variant delta era la majoritària.